block footer
  footer#footer
    .work_with_us
      p Work With Us
      .btn-group
        a Read Full Proposal
        a Contact Us
    nav
      .container-fluid
        ul
          li Privacy
          li Copyright
