block section_whyEY
  .section.section_whyEY#section-whyEy
    .container-fluid
      h2 Why EY
      p.subtitle Things make us different
      .row
        .col-xs-12.col-sm-offset-1.col-sm-10
          p.content EY enhances our globally recognised technical expertise in Microsoft Dynamics365 system implementation with a deep, local knowledge of Queensland child safety and youth justice through our Human Services practice, human-centred design capabilities, and collaborative teaming Hybrid Agile approach, with proven delivery of business and technical outcomes for you and other clients.
      .row
        .col-sm-offset-1.col-sm-3
          img(src="images/section_whyEY/1.png").basketball
        .col-sm-7
          h3 You need a stable partner
          .row
            .col-xs-12.col-sm-4
              p.col who can bring together the right skills, at the right time, in the right places
            .col-xs-12.col-sm-4
              p.col who is both within their own organisation and with a demonstrable ability to work with other partners and members of your service ecosystem
            .col-xs-12.col-sm-4
              p.col who brings out the best each has to offer and establishes Queensland as a leader in effective child protection
      img(src="images/section_whyEY/arrow.png").arrow.animated.infinite.fadeInDown.slow
    .container
      .row.position-relative
        .col-sm-6.col-xs-12.left
          img(src="images/section_whyEY/left.png")
          h4 Technical Expertise
          p EY has deep technical skillsets and experience in large technology program and system implementation, including Microsoft Dynamics365.  EY is one of a handful of Microsoft partners in the prestigious Inner Circle for Microsoft Dynamics, in the Microsoft Dynamics Partner Advisory Council, with a Fast Track Architect, and 3 out of 60 MVPs globally. We have Gold Cloud Customer Relationship Management competency.
        .col-sm-6.col-xs-12.right
          img(src="images/section_whyEY/right.png")
          h4 People Centred
          p EY is people-centred and outcome led. EY will place you, and Queensland children, families, carers at the centre of our work. Because we have been working alongside you, EY understands the day-to-day realities of your stakeholders, their sometimes-divergent views, and who has worked to earn their trust. EY will design and build the Unify technical systems for the people that will use them, and the people that they serve.
        img(src="images/section_whyEY/circle.png" data-aos='rotate').circle.animated
        p.center 
          | EY
          br
          | is
          br
          | your
          br
          |partner