block section_weRespect
  .section.section_weRespect.container-fluid
    h2 We respect
    .row
      .col-xs-12.col-sm-4
        img.icon(src="images/section_weRespect/icon1.png")
        p.title THE RESPONSIBILITY
        p.content The safety and protection of our children and youth, and support for them and their families to thrive, is the responsibility of every Queenslander. 
      .col-xs-12.col-sm-4
        img.icon(src="images/section_weRespect/icon2.png")
        p.title THE ROLE
        p.content The Department of Child Safety, Youth and Women lies at the heart of a critical service ecosystem, and works in concert with other government agencies and community service providers. 
      .col-xs-12.col-sm-4
        img.icon(src="images/section_weRespect/icon3.png")
        p.title THE OPPORTUNITY
        p.content The Unify Program that you are embarking on is a once in a generation opportunity to redesign the building blocks that underpin this service ecosystem.