block banner
  .section.banner#banner
    .container-fluid
      p.first Understand our proposal in 1 min
      h1 Unify Microsoft Dynamics365 System Implementation 
      p.second To Department of Child Safety and Youth and Women (Queensland Government)
      a Read Full Proposal