block header
  header.top
    .container-fluid
      img.logo(src="images/logo_black.png" alt="EY Logo")
      nav
        ul
          li 
            a(href="#banner") Home
          li
            a(href="#section-whyEy") Why EY
          li
            a(href="#section-whoWeare") Who we are
          li
            a(href="#section-howwework") How we work
          li
            a(href="#section-wework") Our work
          li
            a(href="#footer").contact-us Contact us
    