block section_wework
  .section.section-wework#section-wework
    .container-fluid
      h2 Our Work
      p.subtitle A sample of the latest Australian projects we have won
      .row
        .col-sm-6(data-aos="fade-right")
          img(src="./images/section_ourWork/1.png")
        .col-sm-6(data-aos="fade-left")
          img(src="./images/section_ourWork/logo-1.png").logo
          p.description
            span DHL 
            | is Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
          a(href="https://www.defencehealth.com.au/" target="_blank").visit-site Visit site >
      .row
        .col-sm-6(data-aos="fade-right").first-sm
          img(src="./images/section_ourWork/logo-2.png").logo
          p.description
            span The Crime and Corruption Commission website 
            | is nicely positioned with their 30th anniversary of fighting major crime and corruption in Queensland.
          a(href="https://www.ccc.qld.gov.au/" target="_blank").visit-site Visit site >
        .col-sm-6(data-aos="fade-left").first-xs
          img(src="./images/section_ourWork/2.png")
      .row
        .col-sm-6(data-aos="fade-right")
          img(src="./images/section_ourWork/3.png")
        .col-sm-6(data-aos="fade-left")
          img(src="./images/section_ourWork/logo-3.png").logo
          p.description
            span Leap in ! 
            | is a people-centred and outcome led system implementation in Queensland.
          a(href="https://www.leapin.com.au/" target="_blank").visit-site Visit site >
      .row
        .col-sm-6(data-aos="fade-right").first-sm
          img(src="./images/section_ourWork/logo-4.png").logo
          p.description
            span The Smartraveller site 
            | is one of the most visited and relied upon Government websites and is responsible for supporting travelling Australians. 
          a(href="https://smartraveller.gov.au/" target="_blank").visit-site Visit site >
        .col-sm-6(data-aos="fade-left").first-xs
          img(src="./images/section_ourWork/4.png")