extends _layouts/base

include _modules/link/link

block content

  include _modules/header/header
  main
    include _modules/banner/banner
    include _modules/section_werespect/section_werespect
    include _modules/section_whyey/section_whyEY
    include _modules/section_whoweare/section_whoWeAre
    include _modules/section_howwework/section_howwework
    include _modules/section_ourwork/section_ourwork
  include _modules/footer/footer